<script type="text/x-magento-init">
    {
        "*": {
            "Littlelunch_AddressValidator/js/littlelunch_validator":""
        }
    }
</script>

<div class="modal in" role="dialog" id="googleAddressMap" hidden>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" id="googleAddressClose" class="close fa fa-times"></button>
                <input id="googleAddressInput" type="text" value="" hidden>
                <input id="googleAddressUser" type="text" value="" hidden>
                <div class="checkout-sucess-print-block" id="correct_box">
                    <div>
                        <div class="googleAddressMap_head">
                                Ist Deine Adresse richtig?                            </div>
                        <div class="googleAddressMap_desc">
                                Hoppla – sieht so aus, als gäbe es ein Problem mit deiner Lieferadresse. Bitte überprüfe sie nochmal.                                <br>
                                Sollte deine eingegebene Adresse richtig sein, ignoriere diese Meldung bitte.                            </div>


                        <div id="address-correct">
                            <span class="correct-title">Vorschläge:</span>
                            <fieldset class="fieldset address">
                                <ul>
                                    <li class="manual">
                                        <div class="control">
                                            <input type="radio" name="option" data-type="manual" checked="checked" class="addressSelector">
                                            <label for="googleAddressMap_manual">Manuell korrigieren:</label>
                                        </div>
                                        <div class="field _required"  name="billingAddresscheckmo.firstname">

                                            <label class="label" for="littlelunchValStreet">
                                                <span>Straße</span>
                                            </label>

                                            <div class="control">
                                                <input class="input-text"  name="firstname" placeholder=""  type="text" id="littlelunchValStreet">
                                            </div>
                                        </div>
                                        <div class="field _required"  name="billingAddresscheckmo.firstname">

                                            <label class="label" for="littlelunchValCity">
                                                <span>Stadt</span>
                                            </label>

                                            <div class="control">
                                                <input class="input-text"  name="firstname" placeholder=""  type="text" id="littlelunchValCity">
                                            </div>
                                        </div>
                                        <div class="field _required"  name="billingAddresscheckmo.firstname">

                                            <label class="label" for="littlelunchValPostcode">
                                                <span>Postnummer</span>
                                            </label>

                                            <div class="control">
                                                <input class="input-text"  name="firstname" placeholder=""  type="text" id="littlelunchValPostcode">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </fieldset>
                        </div>
                        <div class="buttons-set billing-buttons-set">
                            <button class="action primary"  id="button-modify">Aktualisieren</button>
                        </div>
						<div id="littlelunchValidatorMap" disabled></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
