#googleAddressMap fieldset {
	background-color: #ECEFF1;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#googleAddressMap .modal-body {
	width: 60%;
	padding: 20px;
	background-color: white;
	margin-top: 50px;
	margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#googleAddressMap .modal-body .googleAddressMap_head {
	font-style: oblique;
	font-size: 30px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#googleAddressMap .modal-body .googleAddressMap_desc {
	text-align: center;
	padding-bottom: 10px;
}

#googleAddressMap .modal-body #address-correct .correct-title {
	font-style: italic;
	padding-left: 5px;
}

#googleAddressMap .modal-body li {
    list-style-type: none; 
}
#googleAddressMap .modal-body ul {
    margin-left: 0; 
    padding-left: 0; 
}

#googleAddressMap .buttons-set.billing-buttons-set {
	text-align: center;
	padding-bottom: 5px;
}

#googleAddressMap #littlelunchValidatorMap{
	width: 100%;
	height: 200px;
}

#googleAddressMap .modal-dialog {
    transform: translate(0,0);
    padding-left: 25%;
}

#googleAddressMap {
    overflow-x: hidden;
    overflow-y: auto;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(000, 000, 000, 0.2);
}